:root {
    --my-green: rgb(0,171,68);
    --my-green-trans: rgb(0,171,68,0.4);
    --my-blacker: rgb(10,15,19);
    --my-black: rgb(29,40,43);
    --my-black-trans: rgb(29,40,43, 0.4);
    --my-white: rgb(245,245,245);
    --my-white-shadow: rgb(117, 117, 117);
}

/*Background*/
html {
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

/*Navbar CSS*/
.navbar-dark .navbar-brand
{
    color: var(--my-green);
    padding: 5px;
} 

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--my-white-shadow) !important;
    }

#nav-top{
    font-family: 'Raleway', sans-serif;
    background-color: var(--my-blacker) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--my-white-shadow);
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color:var(--my-green);
}

  /* for the link on the hompage with the photo credit */
#photo-credit
{
    color:var(--my-white);
}

#photo-link a:link,
a:visited,
a:hover,
a:active
{
    color:var(--my-white);
}